:root {
    /* Layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
  
    /* Colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
  
    /* Typography */
    --font-body: 'Montserrat', sans-serif;
    --font-heading: 'Fraunces', serif;
    --font-size-paragraph: 14px;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
  }
  
  /* General Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: var(--font-body);
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
    color: var(--very-dark-blue);
    background-color: var(--cream);
  }
  main {
    background-color: white;
    max-width: 375px;
    border-radius: 10px;
    margin: 2em;
  }
  
  img {
    width: 100%;
    height: auto; /* This keeps the image responsive */
    aspect-ratio: 1 / 1; /* Ensures the image remains square */
    object-fit: cover; /* This covers the entire area without stretching */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  header,section, footer {
    margin: 1em 2.5em;
  }
  
  /* Add any additional base styles for headers, paragraphs, etc. here */
  h1 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    color: var(--very-dark-blue);
    line-height: 1.1;
  }
  
  .product-description {
    font-weight: var(--font-weight-regular);
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px auto;
    font-size: 12px;
  }
  
  .description{
    color: var(--dark-grayish-blue);
  }
  
 

  /* Button Styles */
  button {
    font-family: var(--font-body);
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;

  }
  
  button:hover {
    background-color: var(--dark-grayish-blue);
  }
  