@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Fraunces';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Fraunces/static/Fraunces_144pt-Black.ttf') format('truetype');
  }
    
:root {
    /* Layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
  
    /* Colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
  
    /* Typography */
    --font-body: 'Montserrat', sans-serif;
    --font-heading: 'Fraunces', serif;
    --font-size-paragraph: 14px;
    --font-weight-regular: 500;
    --font-weight-bold: 700;
  }
  
  /* General Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    font-family: var(--font-body);
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
    color: var(--very-dark-blue);
    background-color: var(--cream);

  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change to flex-start */
    min-height: 500px; /* Minimum height */
    background-color: white;
    max-width: 375px; /* Card width */
    border-radius: 10px; /* Rounded corners */
    margin: 20px; /* Outer margin for white space */
}

img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Limit the height of the image */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


  header,section, footer {
    margin: 0.125em 3em; /* General margin for all sections */
  }
  
  header {
    margin-bottom: 0.5em; /* Reduced bottom margin for header */
  }   

  /* Add any additional base styles for headers, paragraphs, etc. here */
  h1 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    color: var(--very-dark-blue);
    font-size: 20pt;
    line-height: 1.2;
  }
  
  .product-description {
    font-weight: var(--font-weight-regular);
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px auto;
    font-size: 12px;
  }
  
  .description{
    color: var(--dark-grayish-blue);
    
  }
  
  .price-container {
    display: flex;               /* Use flexbox */
    justify-content: left; /* Space items across the container */
    align-items: center;        /* Center items vertically */
    margin: 1em 0;             /* Add some margin as needed */
  }
  
  .current-price {
    font-family: var(--font-heading);
    font-size: 1.745rem;
    color: var(--dark-cyan);
  }
  
  .initial-price {
    font-size: 0.748rem;
    font-weight: var(--font-weight-regular);
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    margin-left: 0.5rem; 
  }


  footer {
    margin-bottom: 2em;
  }
  
  /* Button Styles */
  button {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: var(--dark-cyan); /* Background color */
    color: var(--white); /* Text color */
    border: none; /* Remove default border */
    padding: 15px 20px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    width: 100%; /* Full width */
}
span {
    margin-left: 0.5em;
}

  button:hover {
    background-color: var(--dark-grayish-blue);
  }
 